<!-- Home Banner -->
<section class="section section-search">
    <div class="container-fluid">
        <div class="banner-wrapper">
            <div class="banner-header text-center">
                <h1>Cherchez un psychologue</h1>
                <h1>Réservez votre rendez-vous dès maintenant</h1>
                <p>La recherche peut se faire par localisation, Nom, Spécialité, Ville, Autres</p>
            </div>
                
            <!-- Search -->
            <div class="search-box">
                <form action="search.html">
                    <div class="form-group search-location">
                        <input type="text" class="form-control" placeholder="Ville">
                        <span class="form-text">Par: Localisation, Ville</span>
                    </div>
                    <div class="form-group search-info">
                        <input type="text" class="form-control" placeholder="Recherchez un psychologue : Nom , Spécialité ...">
                        <span class="form-text">Par : Nom,Spécialité, Autres</span>
                    </div>
                    <button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
                </form>
            </div>
            <!-- /Search -->
            
        </div>
    </div>
</section>
<!-- /Home Banner -->

<!-- Clinic and Specialities -->
<section class="section section-specialities">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h2>Spécialités</h2>
            <p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <!-- Slider -->
                <div class="specialities-slider slider" #specialitiesSlider>
                
                    <!-- Slider Item -->
                    <div class="speicality-item text-center">
                        <div class="speicality-img">
                            <img src="assets/img/specialities/specialities-01.png" class="img-fluid" alt="Speciality">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        </div>
                        <p>Urology</p>
                    </div>	
                    <!-- /Slider Item -->
                    
                    <!-- Slider Item -->
                    <div class="speicality-item text-center">
                        <div class="speicality-img">
                            <img src="assets/img/specialities/specialities-02.png" class="img-fluid" alt="Speciality">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        </div>
                        <p>Neurology</p>	
                    </div>							
                    <!-- /Slider Item -->
                    
                    <!-- Slider Item -->
                    <div class="speicality-item text-center">
                        <div class="speicality-img">
                            <img src="assets/img/specialities/specialities-03.png" class="img-fluid" alt="Speciality">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        </div>	
                        <p>Orthopedic</p>	
                    </div>							
                    <!-- /Slider Item -->
                    
                    <!-- Slider Item -->
                    <div class="speicality-item text-center">
                        <div class="speicality-img">
                            <img src="assets/img/specialities/specialities-04.png" class="img-fluid" alt="Speciality">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        </div>	
                        <p>Cardiologist</p>	
                    </div>							
                    <!-- /Slider Item -->
                    
                    <!-- Slider Item -->
                    <div class="speicality-item text-center">
                        <div class="speicality-img">
                            <img src="assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">
                            <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        </div>	
                        <p>Dentist</p>
                    </div>							
                    <!-- /Slider Item -->
                    
                </div>
                <!-- /Slider -->
                
            </div>
        </div>
    </div>   
</section>	 
<!-- Clinic and Specialities -->